
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-3 col-lg-2 bg-dark text-white">
            <nav class="navbar navbar-dark flex-column align-items-start">
                <a class="navbar-brand mb-4 fw-bold fs-5" href="#">Rentooo</a>
                <ul class="navbar-nav w-100 ms-5 pd-5">
                    <li class="nav-item w-100">
                        <a routerLink="/user/bikes" class="nav-link text-white">Bikes</a>
                    </li>
                    <li class="nav-item w-100">
                        <a routerLink="/user/cars" class="nav-link text-white">Cars</a>
                    </li>
                    <li class="nav-item w-100">
                        <a routerLink="/user/view/id" class="nav-link text-white">View Vehicles</a>
                    </li>
                    <li class="nav-item w-100">
                        <a routerLink="/user/wishlist" class="nav-link text-white">Wishlist</a>
                    </li>
                    <li class="nav-item w-100">
                        <a routerLink="/user/booking" class="nav-link text-white">Booking</a>
                    </li>
                    <li class="nav-item w-100">
                        <a routerLink="/user/vieworders" class="nav-link text-white">View Orders</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            <h1>welcome to userDashboard</h1>
        </div>
        
    </div>
</div>

